.mainBox{
  text-align: center;
  width: 40%;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 5%;
  padding-top: 0.1%;
  border-radius: 5%;
}

h1{
  background-color: rgb(4, 98, 136);
  color: rgb(255, 255, 255);
}

.inpToDo{
    height: 7%;
    border: none;
    border-bottom: 2px solid rgb(4, 98, 136);
    outline: none;
    width: 50%;
}

.addToDo{
    background-color: rgb(4, 98, 136);
    font-size: medium;
    margin-left: 2%;
    height: 8%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.todoStyle{
  display: flex;
  padding-bottom: 2%;
}

.fa-times{
  margin-top: 1%;
  margin-left: 3%;
  background-color: rgb(4, 98, 136);
  color: white;
  width: 7%;
  border-radius: 50%;
}

.fa-times:hover{
  background-color: red;
  color: black;
}

ol{
  list-style-type: none;
}
ol li{
  text-align: left;
  font-size: 18px;
}
